.home {
    display: flex;
    margin: auto;
    justify-content: center;
    & .home-image {
        background-image: url(../img/home.jpg);
        background-color: rgba(0, 0, 0, 0.301);
        background-blend-mode: overlay;
        width: 100%;
        min-height: 20rem;
        height: auto;
        border-radius: 2rem;
        overflow: hidden;
        background-size: cover;
        margin: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        & h1 {
            color: white;
            font-weight: 300;
            font-size: 5rem;
        }
    }
}

.home-content {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 80%;
    width: 80%;
    background: red;
}