.home {
    display: flex;
    margin: auto;
    justify-content: center;
    background: aquamarine;
    & .home-image {
        background-image: url(../img/home.jpg);
        background-color: rgba(0, 0, 0, 0.301);
        background-blend-mode: overlay;
        height: 223px;
        width: 1240px;
        border-radius: 2rem;
        overflow: hidden;
        border: solid black 3px;
        background-size: cover;
        margin: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        & h1 {
            color: white;
            font-weight: 300;
            font-size: 3.2rem;
        }
    }
}
