.navbar {
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem;
    color: #FF6060;
    & .logo {
        width: 15rem;
        height: auto;
    }
    & ul {
        display: flex;
        align-items: center;
        & :first-child{
            margin-right: 2rem;
        }
        & li {
            list-style: none;
            font-size: 2rem;
        }
    }
}

a:-webkit-any-link {
    text-decoration: none;
    color: #FF6060;
  }