.rental-container {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
    margin-top: 2rem;
    color: #FF6060;
    padding: 0 10rem;
    & .rental-image {
        width: 70vw;
        height: 61vh;
        border-radius: 2.5rem;
        object-fit: cover;
    }
}

.rental-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.rental-left {
    padding: 3rem 0;
    & ul {
        display: flex;
        flex-wrap: wrap;
        & li {
            font-size: 1.5rem;
            background: #FF6060;
            padding: 0.35rem 1.3rem;
            color: white;
            display: inline;
            margin-right: 2rem;
            border-radius: 1rem;
            white-space: nowrap;
            margin: 0.5rem;
        }
    }
    & h1 {
        margin-bottom: .6rem;
    }
    & h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}

.rental-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: right;
    & img {
        border-radius: 50%;
        width: 6rem;
        margin-left: 1rem;
    }
    & p {
        width: 10rem;
    }
    & .rental-profil {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
}

.rental-toggle {
    display: flex;
    justify-content: space-around;
    & .collapse {
        width: 100%;
    }
}

.separator {
    width: 100%;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 61vh;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    border-radius: 2.5rem;
}

.arrow-right {
    width: 3rem;
    position: absolute;
    right: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.arrow-left {
    transform: rotate(180deg);
    width: 3rem;
    position: absolute;
    left: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
    overflow: hidden;
    height: 100%;
    & img {
        object-fit: cover;
        height: 100%;
    }
}

.slide.active {
    height: 100%;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}


.empty {
    color: gray;
}

.stars {
    display: flex;
}

@media only screen and (max-width: 880px) {
    .rental-toggle {
        flex-direction: column;
    }
    .rental-info {
        flex-direction: column;
        align-items: baseline;
    }
    .rental-right {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .rental-container {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 560px) {
    .rental-container .rental-image {
        width: 90vw;
        height: 40vh;
    }
    .faq {
        margin: 1.6rem 2rem;
    }
    .slider {
        width: 90vw;
        height: 40vh;
    }
    .rental-left {
        padding: 2rem 0;
        & h1 {
            font-size: 1.5rem;
            font-size: 2.3rem;
            line-height: 3.5rem;
        }
    }
}
