.rental-container {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
    margin-top: 2rem;
    color: #FF6060;
    padding: 0 10rem;
    & .rental-image {
        width: 100%;
        height: 60rem;
        border-radius: 2.5rem;
        object-fit: cover;
    }
}

.rental-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.rental-left {
    padding: 3rem 0;
    & li {
        font-size: 1.5rem;
        background: #FF6060;
        padding: 0.35rem 1.3rem;
        color: white;
        display: inline;
        margin-right: 2rem;
        border-radius: 1rem;
    }
    & h1 {
        margin-bottom: .6rem;
    }
    & h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}

.rental-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    & img {
        border-radius: 50%;
        width: 6rem;
        margin-left: 1rem;
    }
    & p {
        width: 10rem;
    }
    & .rental-profil {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
}

.rental-toggle {
    display: flex;
    justify-content: space-around;
    & .collapse {
        width: 100%;
    }
}

.separator {
    width: 100%;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    border-radius: 2.5rem;
    height: 70vh;
}

.arrow-right {
    width: 3rem;
    position: absolute;
    top: 50%;
    right: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.arrow-left {
    transform: rotate(180deg);
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.image-slider {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
    overflow: hidden;
    & img {
        object-fit: cover;
    }
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}


.empty {
    color: gray;
}

.stars {
    display: flex;
}

@media only screen and (max-width: 880px) {
    .rental-toggle {
        flex-direction: column;
    }
    .rental-info {
        flex-direction: column;
    }
    .rental-right {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .rental-container {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 560px) {
    .faq {
        margin: 3rem 2rem;
    }
}
