* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.App {
    max-width: 150rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
}

li {list-style: none;}

@import './home';
@import './header';
@import './footer';
@import './about';
@import './rental';
